@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-neutral-0: #FFFFFF;
  --color-neutral-50: #F5F7FA;
  --color-neutral-100: #F3F5F8;
  --color-neutral-200: #E0E4EA;
  --color-neutral-300: #CACFD8;
  --color-neutral-400: #99A0AE;
  --color-neutral-500: #717784;
  --color-neutral-600: #525866;
  --color-neutral-700: #2B303B;
  --color-neutral-800: #232530;
  --color-neutral-900: #191b25;
  --color-neutral-950: #0E121B;

  --color-blue-700: #2547D0;
  --color-blue-500: #335CFF;
  --color-blue-50: #EBF1FF;

  --color-green-500: #21C16B;
  --color-green-100: #D1FBE9;

  --color-red-500: #FB3748;
  --color-red-100: #FFD5D8;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
